@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* navbar style */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #007cad;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #007cad;
}

/* blog home page */
.content {
  margin: 40px;
  padding: 20px;
}

.blog-details h1, p {
  margin: 20px 0;
}

.blog-details h2 {
  font-size: 20px;
  color: #007cad;
  margin: 10px 0;
}
.blog-details h5 {
  margin-bottom: 20px;
}



/* new post page */
.newPost {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.newPost label {
  text-align: left;
  display: block;
}
.newPost h2 {
  font-size: 20px;
  color: #007cad;
  margin-bottom: 30px;
}
.newPost button {
  background: #007cad;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}